<ion-view class="welcome" hide-nav-bar='true'>

    <ion-content>

        <div style="margin-top: 50px;text-align: center;">

            <img src="css/img/logo.png" style="width:65%; margin:0 auto;display: block;"/>

            <h2 style="    margin-top: 42vh;
    word-wrap: break-word;
    margin-left: 10vw;
    margin-right: 10vw;">Meet the original YETI®. The Tundra was born when we took our frustrations with 
                cheap coolers and over-engineered the hell out of them. We ended up creating a whole 
                new category of coolers with legendary toughness and ice retention. The Tundra comes 
                in enough sizes for wilderness expeditions, hunting excursions, fishing trips, tailgating, 
                or any outdoor adventure.</h2>

            <div class="bottom">
                <a class="button button-stable" ui-sref="app.signup" style="max-width:84%;color:#00263e;padding-left:28px;padding-right:28px;">
                    Sign Up
                </a>
                <a class="button button-block button-clear" ui-sref="app.login">
                    Already a member?&nbsp;&nbsp;Log In&nbsp;<i class="icon-arrow-right"></i>
                </a>
            </div>

        </div>

    </ion-content>

</ion-view>